<div  class="container">
    <mat-card class="card">

        <mat-card-title-group>
            <mat-card-header class="col-12">
                <mat-card-title class="titulo-card">{{producto.title}}</mat-card-title>
            </mat-card-header>
        </mat-card-title-group>

        <div class="img">
            <img class="image" mat-card-image [src]="producto.image" alt="Imagen producto">
        </div>

        <mat-card-content>
            <p *ngIf="producto.longDescription.length > 0" class="descripcion">
                {{producto.shortDescription}} <br><br> {{producto.longDescription}}
            </p>

            <button mat-raised-button
                    class="float-end"
                    routerLink="/main/home">
                Atras
            </button>
        </mat-card-content>

    </mat-card>
</div>