<div class="wrapper">

    <mat-card *ngIf="userData" class="card">
        <mat-action-list>

            <div class="titulo-menu" mat-subheader>Menu</div>
            <button *ngFor="let item of userData.menu; let i=index" 
                    [routerLink]="'detalle' + item.redirectTo" 
                    routerLinkActive="active" 
                    mat-list-item>
                {{userData.products[i].title}} <!-- <mat-icon mat-list-icon>{{item.icon}}</mat-icon>Inicio --> 
            </button>
            <!-- <button (click) = "logout()" mat-list-item>
            <mat-icon mat-list-icon>logout</mat-icon>Salir
            </button> -->

        </mat-action-list>
    </mat-card>
</div>
