.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
}

.card{
    padding: 2.5rem 0 1rem 0;
}

.titulo{
    font-size: 1.6rem;
    font-weight: 500;
}


mat-form-field {
    width: 100%;
}

.input  {
    margin-top: 0.8rem;
}

.buttons {
    margin-top: 1.2rem; 
    display: flex;
    justify-content: space-around;
}
