.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
}

.card{
    padding: 3rem 0;
}

.titulo{
    font-size: 1.6rem;
    font-weight: 500;
}

.full-width {
    width: 100%;
}

.input {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(196, 203, 209);
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.input:hover  {
    border-color: #3f51b5;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
