.wrapper{
    padding: 0 0.5rem;
    min-height: 15vh;
}

.header{
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img{
    height: 70px;
    width: auto;
}

.titulo{
    text-align: center;
    font-weight: bold;
}

.mat-mdc-raised-button.mat-warn {
    --mdc-protected-button-container-color: #D7960C;
    --mdc-protected-button-label-text-color: #fff;
}