.wrapper{
    padding-top: 0.5rem;
    min-height: 10vh;
    background: linear-gradient(var(--color-bp1), var(--color-b1footer));
}

.pie-pagina{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.block{
    padding: 0 2.5rem;
}

a{
    color: var(--color-bp2);
}

.hover{
    transition: 0.5s;
}

.hover:hover{
    color: var(--color-tblanco);
}

p{
    color: var(--color-tblanco);
    text-align: center;
}